<header class="section-header">
    <nav class="navbar navbar-dark navbar-expand p-0 bg-dark nav-cust">
    <div class="container-fluid">
        <ul class="navbar-nav d-none d-md-flex mr-auto  align-items-center">
            <a class="d-flex flex-row mr-20" [routerLink]="['/users']" routerLinkActive="router-link-active" >
                <img src="https://cdn.unicourt.com/uc-website_resources/2018.11.29/images/logo.png" width="150">
            </a>
      
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active-link" >Users</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/create-user']" routerLinkActive="active-link" >Add User</a>
            </li> 
           
        </ul >
    </div>    
    </nav>
</header>