/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
.mt-50{
    margin-top: 50px;
}
.table-head{
    background-color: rgb(55 111 167) !important;
    color: white;
    padding: 8px 20px !important;
    width: 100%;
}
.nav-cust{
    background-color: rgb(55, 111, 167)  !important;
    box-shadow: 0 4px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}
.bg-dark{
    background-color: white !important;
}
.bg-green{
background-color: #28a745;
}
li.nav-item a{
    color: gray !important;
    font-weight: bold;
    font-size: 18px;
}
.mr-4{
    margin-right: 4px;
}
.mr-20{
    margin-right: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mb-40{
    margin-bottom: 40px;
}
th{
    font-size: 14px;
    color: #212529;
}
td{
    font-size: 12px;
}
.ed-dl{
    padding: 2px 5px;
}
.fnt-b{
    font-weight: bold;
}
.add{
    background-color: rgb(99 156 211);
    border: rgb(99 156 211);
}
.update{
    background-color: rgb(99 156 211);
    border: rgb(99 156 211);
}

/***********popup*************start****/
.popup{
    position:fixed;
    top:0px;
    left:0px;
	bottom:0px;
	right:0px;	
    margin:auto;
    width:400px;
    height:190px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:rgb(240,240,240);
    border:1px solid grey;
    z-index:100000000000000000;
    // display:none;

    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    }
    
.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
    }

.cancel:hover{
    background:rgb(255,50,50);
    }
/************popup-end**********/
.t-center{
    text-align: center;
}